* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ddd;
}

.content img {
  max-height: 550px;
  max-width: 100%;
}

#start-btn {
  font-size: 36px;
  padding: 20px 40px 20px 80px;
  margin-top: 30px;
  border-radius: 10px;
  background: url("../img/thanos-logo.png") white 0 -2px no-repeat;
  cursor: pointer;
}

.dust {
  position: absolute;
}


